:root {
  line-height: 1.3;
  font-weight: 400;
  background-image: url('assets/Bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.body{
  font-family: 'Freestyle Script', cursive;
  background-color: #ffffff6a;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 20px 20px 20px 20px  rgba(0.1, 0.1, 0.1, 0.1);
  max-width: 1100px;
  margin: 80px auto;
  height:700px;
  backdrop-filter:blur(20px);
  color:#030D11;
  justify-items: center;
    }


.title{
    text-align: center;
    font-size: 100px;
    position: relative;
    bottom:60px;
}
.line{
  height:1px;
  width:480px;
  border-top:2px solid #000000;
  position: relative;
  bottom:197px;
  right:10px;
}
.p1{
  font-size: 60px;
  margin-bottom: 30px;
  margin-top: 25px;
}
.inputl{
  font-size: 55px;
}
.inputb{
  background-color: #1d526764;
  padding-left: 40px;
  padding-top: 1px;
  height:250px;
  width:750px;
  position: relative;
  bottom:90px;
  border-radius: 30px;
}
.from{
  width:200px;
  height:50px;
  background-color: #00000000;
  font-size: 50px;
  margin-left: 20px;
  border-radius: 20px;
  border:2px solid #030D11;
  margin-right: 70px;
  position: relative;
  bottom:1px;
  padding-left:10px;
  font-family: 'Freestyle Script', cursive;
}
.to{
  width:200px;
  height:50px;
  background-color: #00000000;
  font-size: 50px;
  margin-left: 20px;
  border-radius: 20px;
  border:2px solid #030D11;
  position: relative;
  bottom:3px;
  padding-left:10px;
  font-family: 'Freestyle Script', cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.start{
  width: 180px;
  height:80px;
  position: relative;
  top:100px;
  left:240px;
  font-size: 60px;
  font-family: 'Freestyle Script', cursive;
  border-radius: 20px;
 background-color:#35864B ;
 border:2px solid #030D11;
}

.display
{
   background-color: #1d526764;
   width:700px;
   height:100px;
   border-radius: 40px;
   font-size: 80px;
    text-align: center;
    position: relative;
    bottom:100px;
}
.number{
   width:200px;
  height:50px;
  background-color: #00000000;
  font-size: 50px;
  margin-left: 20px;
  border-radius: 20px;
  border:2px solid #030D11;
  margin-right: 70px;
  position: relative;
  bottom:1px;
  padding-left:10px;
  font-family: 'Freestyle Script', cursive;
}
.gameb{
  position: relative;
  bottom:100px;
  left:25px;
}
.check{
   width: 180px;
  height:60px;
  position: relative;
  bottom:66px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: 'Freestyle Script', cursive;
  border-radius: 20px;
  background-color:#35864B ;
  border:2px solid #030D11; 
}

.attempt{
  font-size: 50px;
  position: relative;
  bottom:130px;
}
.try
{
  padding: 10px 35px;
  position: relative;
  bottom:130px;
  font-size: 50px;
  font-family: 'Freestyle Script', cursive;
  border-radius: 20px;
  background-color:#35864B ;
  border:2px solid #030D11;
  color: #030D11;
 text-decoration: none;
  display: flex;
   
}

.finish{
  background-color: #1d526764;
  width:630px;
  height: 200px;
  padding-top: 30px;
  font-size: 60px;
  text-align: center;
  position: relative;
  bottom:150px;
  border-radius: 30px;
}



.instruction-container {
  position: fixed;
  bottom:730px;
  right:1410px;
  z-index: 1000;
}

.instruction-toggle {
  padding: 1px 15px;
  background-color: #ffffff9c;
  color:#030D11;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 35px;
  backdrop-filter: blur(30px);
  font-family: 'Freestyle Script', cursive;
  border: 2px solid #030D11;
}

.instruction-box {
  width: 300px;
  font-size: 40px;
  text-align: left;
  background-color:#76b0c1;
  border: 1px solid #030D11;
  border-radius: 10px;
  padding: 15px;
 position: relative;
 left:240px;
 top:490px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.instruction-box ol {
  padding-left: 30px;
}
.instruction-box p{
  text-align: center;
  font-size: 50px;
}


